
.card {
    -fx-background-color: linear-gradient(to bottom, #2e2e2e, #000000);
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-padding: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0.2, 0, 4);
}

.creditB{
  -fx-background-image: url("../Img/bank/funcButton/credit.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.transferCurrencyB{
  -fx-background-image: url("../Img/bank/funcButton/transferCurrency.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.moneyboxB{
  -fx-background-image: url("../Img/bank/funcButton/pigbank.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.transferCardB{
    -fx-background-image: url("../Img/bank/funcButton/transferCard.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.mobileAddB {
    -fx-background-image: url("../Img/bank/funcButton/mobileApp.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.previousCardB{
   -fx-background-image: url("../Img/bank/previousCard.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.nextCardB{
  -fx-background-image: url("../Img/bank/nextCard.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.panelCourse {
    -fx-background-color: #e1e1e1;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.2, 0, 4);
}



.creditB, .transferCurrencyB, .moneyboxB, .transferCardB, .mobileAddB, .previousCardB, .nextCardB {
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}

.creditB:hover, .transferCurrencyB:hover, .moneyboxB:hover, .transferCardB:hover, .mobileAddB:hover, .previousCardB:hover, .nextCardB:hover {
    -fx-opacity: 0.8;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.panelMain{
-fx-background-color: #e1e1e1;
}

.addCard{
   -fx-background-image: url("../Img/bank/addCard.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}
