
.card {
    -fx-background-color: linear-gradient(to bottom, #2e2e2e, #000000);
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-padding: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0.2, 0, 4);
}

.creditB{
  -fx-background-image: url("../Img/credit.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.transferCurrencyB{
  -fx-background-image: url("../Img/transferCurrency.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.moneyboxB{
  -fx-background-image: url("../Img/pigbank.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.transferCardB{
    -fx-background-image: url("../Img/transferCard.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.mobileAddB {
    -fx-background-image: url("../Img/mobileApp.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.previousCardB{
   -fx-background-image: url("../Img/previousCard.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.nextCardB{
  -fx-background-image: url("../Img/nextCard.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}