.main {
    -fx-background-color: linear-gradient(from 0% 0% to 75% 50%, #e343e4 37%, #33dcd7 62%, #33f798 81%);
}


.login-panel {
    -fx-background-color: linear-gradient(from 0% 0% to 50% 75%, #0ceb67, #13e9be);
    -fx-border-color: grey;
    -fx-border-width: 2px;

}


.up-panel {
    -fx-background-color: linear-gradient(to right, #e65fff 16%, #1dbafd 48%, #45fc86 90%);
    -fx-border-color: grey;
    -fx-border-width: 0 0 2px 0;
}

.border-pane{
 -fx-border-color: grey;
    -fx-border-width: 2px;
}
.join {
    -fx-background-color: linear-gradient(#3b3b3b, #1c1c1c);
    -fx-background-radius: 20px;
    -fx-border-color: #696969;
    -fx-border-width: 1px;
    -fx-border-radius: 20px;
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-padding: 10px 20px;
    -fx-cursor: hand; /* курсор-указатель при наведении */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}

.join:hover {
    -fx-background-color: linear-gradient(#4d4d4d, #2c2c2c);
}

.join:pressed {
    -fx-background-color: #1a1a1a;
    -fx-text-fill: #81d8d0;
    -fx-padding: 12px 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0.5, 0.0, 0.0);
}

.registration {
    -fx-background-color: #2e2e2e;
    -fx-background-radius: 20px;
    -fx-border-color: #696969;
    -fx-border-width: 1px;
    -fx-border-radius: 20px;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-padding: 5px 10px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0.0, 0.0);
}

.registration:hover {
    -fx-background-color: #444444;
}

.registration:pressed {
    -fx-background-color: #1c1c1c;
    -fx-text-fill: #81d8d0;
    -fx-padding: 7px 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 5, 0.5, 0.0, 0.0);
}


